.App {
  text-align: center;
  /* border: 1px solid black; */
  width: 50%;
  margin: auto;
  background-color:  #cecece;
  border-radius: 20px;
}
body{
background-color: 
#c1ecf0;
}

.box{
  margin-top: 40px;
  border:1px solid black;
  border-radius: 20px;
  width: 350px;
  height: 60px;
margin:40px auto;
display: flex;
padding: 0 10px 0 40px;
/* text-align: center; */
justify-content: space-between;
background: rgb(189, 104, 172);
}


.inputBox{
  width: 350px;
  height: 55px;
  border-radius: 30px;
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  color: black;
  background: rgb(149, 228, 147);
}
.button{
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin-top: 0;
}
.blue{
  border: 6px solid  #7F7BFF;
  background-color: rgb(207, 203, 203);
color: white;
margin-left: 50px;
margin-top: 5.7px;
width: 70%;
height: 70%;
width: 12.5%;
border-radius: 50%;
}
.green{
  border: 6px solid #87FFC5;
  background-color: rgb(207, 203, 203);

color: white;
margin-left: 50px;
margin-top: 5.7px;
width: 70%;
height: 70%;
width: 12.5%;
border-radius: 50%;
}
